@{
    ViewData["Title"] = "Article Page";
}

<div class="row text-center">
    <h1 class="col-md-12 text-center">Title</h1>
    <p class = "col-md-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris finibus quam quis efficitur pellentesque. Nunc dapibus pulvinar egestas. Phasellus id ipsum commodo, rhoncus enim a, commodo tellus. Donec efficitur libero vitae mauris sodales pharetra. Donec porttitor accumsan nisl quis luctus. Etiam ultrices ultricies ornare. Duis id faucibus ipsum. Vestibulum pharetra dolor id bibendum varius. Integer sapien tellus, feugiat eget quam eu, elementum maximus risus. Nunc ac porta nibh, id gravida ipsum. Vivamus in odio neque. Vestibulum non faucibus lacus. Nam pretium orci mauris, id venenatis quam volutpat at. Vivamus sed vehicula neque. Sed quis elit nunc.
Integer tincidunt rutrum lectus, in venenatis dolor laoreet ac. Ut ex dui, posuere ac eros a, varius ultricies sapien. Aliquam erat volutpat. Phasellus nisi eros, accumsan nec sapien nec, pulvinar ornare quam. Quisque eros lacus, tincidunt vitae metus et, varius interdum arcu. In non augue non enim scelerisque blandit. Morbi quis tempor diam. Cras eget libero auctor nunc facilisis convallis. Quisque ullamcorper libero id molestie consequat.</p>
</div>
